$colors: (
  dark: (
    'heading': #888888,
    'text': #cccccc,
    'background': #1c1c1c,
    'beater-play': #2b2228,
    'beater-play-icon': #877585,
    'beater-settings': #292f26,
    'beater-settings-icon': #758776,
    'new-beater': #333333,
    'new-beater-icon': #878787,
    'major-beat': #ca7a0a,
    'minor-beat': #0a7aca,
    'beater-settings-background': #212121,
    'beater-settings-border': #30302a,
    'beater-settings-input': #333333,
    'delete-beater': #261818,
    'delete-beater-icon': #877775,
    'shadow-color': rgba(255, 255, 255, 0.2)
  ),
  light: (
    'heading': #434343,
    'text': #262626,
    'background': #fcfcfc,
    'beater-play': #ebe3e9,
    'beater-play-icon': #745b6e,
    'beater-settings': #e3ebe2,
    'beater-settings-icon': #5b745b,
    'new-beater': #ebebeb,
    'new-beater-icon': #747474,
    'major-beat': #ca7a0a,
    'minor-beat': #0a7aca,
    'beater-settings-background': #ffffff,
    'beater-settings-border': #e8e7d6,
    'beater-settings-input': #f6f6f6,
    'delete-beater': #f6ecec,
    'delete-beater-icon': #746464,
    'shadow-color': rgba(0, 0, 0, 0.2)
  )
);

