html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: color-get('heading');
}

div.main-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  background-color: color-get('background');
  background-image: asset-get('bg-pattern');
  background-size: 300px;
  color: color-get('text');
}

