@import '~@fontsource/baumans/index.css';
@import '~@fontsource/poiret-one/index.css';
@import '~@mdi/font/css/materialdesignicons.min.css';

@import './themes.scss';
@import './animations.scss';
@import './general.scss';

@media (max-width: 720px) {
  div#beaters-container {
    flex-flow: column wrap;
  }

  div.beater {
    margin-bottom: 2em;
  }
}

div.intro {
  justify-content: center;
}

h1#click-to-start {
  &:hover {
    cursor: default;
    transform: scale(1.1);
  }
  transition: all 0.5s ease;
  font-family: 'Poiret One', sans-serif;
  animation: zoom-out 1s ease;
}

h1#app-name {
  font-family: 'Baumans', sans-serif;
  animation: fly-down 1s ease;
}

#beaters-container {

  i {
    font-size: 30px;
  }

  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 4em 0em;

  button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease;
  }

  button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  animation: zoom-in 1s ease;

}

div.beater {
  position: relative;
}

div.beater-buttons {
  &.major-beat {
    transform: scale(1.5)
  }

  &.minor-beat {
    transform: scale(1.2)
  }

  transform: scale(1);
  transition: all 0.05s linear;
}

button#new-beater {

  i {
    color: color-get('new-beater-icon');
  }

  background-color: color-get('new-beater');

}

button.btn-beater-play {
  i {
    color: color-get('beater-play-icon');
  }
  background-color: color-get('beater-play');
}

button.btn-beater-settings {
  i {
    color: color-get('beater-settings-icon');
  }
  background-color: color-get('beater-settings');
}

div.beat-number {
  &.beat-number.major-beat {
    text-shadow: 4px 4px 20px color-get('major-beat');
    font-size: 50px;
  }
  opacity: 0;
  font-size: 30px;
  position: absolute;
  color: color-get('heading');
  top: -30px;
  left: 50px;
  font-family: 'Baumans', sans-serif;
  animation: float 1s ease;
  text-shadow: 4px 4px 20px color-get('minor-beat');
}

div.beater-settings {
  &.hidden {
    display: none;
  }
  select, input, button {
    height: 30px;
    border: none;
    background-color: color-get('beater-settings-input');
    border-radius: 10px;
    margin: 5px;
    color: color-get('text') !important;
  }
  select {
    width: 65px;
    padding: 0 4px;
  }
  input {
    width: 50px;
    padding: 0 8px;
  }

  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  left: 70px;
  background-color: color-get('beater-settings-background');
  border-radius: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  border: 3px solid color-get('beater-settings-border');
  padding: 5px;
}

